
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>
{% include 'navbar.html' %}
<div class='container'>
<div class='jumbotron'>
    <h1> My First Try Using Flask </h1>
    <p> Flask is Fun </p>

	{% block content %}
	{% endblock %}
</div>
</div>
  </body>
</html>
